{{> header}}
<div class="container mt-3">
    <h1 class="text-center">Register</h1>
     {{#if status}}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
        {{/if}}
    <form action="/user/register-data" , method="post">
        <div class="row">
        <div class="col-md-6">
            <label for="name" class="form-label">Full Name</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
              {{#if nameErr}}
                <p class="text-danger">{{nameErr}}</p>
                {{/if}}
        </div>
        <div class="col-md-6">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               {{#if emailErr}}
                <p class="text-danger">{{emailErr}}</p>
                {{/if}}
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="pass" type="password" class="form-control" id="exampleInputPassword1">
             {{#if passErr}}
                <p class="text-danger">{{passErr}}</p>
                {{/if}}
        </div>
        <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <input name="age" type="text" class="form-control" id="age">
             {{#if ageErr}}
                <p class="text-danger">{{ageErr}}</p>
                {{/if}}
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <label for="phone" class="form-label">Phone</label>
            <input name="phone" type="text" class="form-control" id="phone">
            {{#if phoneErr}}
                <p class="text-danger">{{phoneErr}}</p>
                {{/if}}
        </div>
        <div class="col-md-6">
            <label for="city" class="form-label">City</label>
            <input name="city" type="text" class="form-control" id="city">
             {{#if cityErr}}
                <p class="text-danger">{{cityErr}}</p>
                {{/if}}
        </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{{> footer}}